---
import TopWrapper from "../../layouts/TopWrapper.astro";
import { getCollection } from "astro:content";

import "../../styles/global.css";

// get all links
const links = await getCollection("links");

// Sort galleryImages by sortOrder
links.sort((a, b) => a.data.sortOrder - b.data.sortOrder);
---

<TopWrapper personal={true} paddingBottom="0rem">
  <div id="InfoWrapper">
    <div id="AboutText">
      <p>Hi, my name is Joshua.</p>
      <p>On this site I collect all of the art and design work I do.</p>
      <p>
        Beyond my profession as a scientific illustrator I like to dabble in
        other design areas. I have a strong passion for chracter and creature
        design, figure drawing, illustration and lately more technical stuff
        like proceduralism and web design! Feel free to browse my work and don't
        hesitate to reach out to me!
      </p>
      <p><a href="mailto:info@rhizome.ch" id="Email">info@rhizome.ch</a></p>
    </div>
    <p id="portfolio-link">
      Professional portfolio: <a href="/">Rhizome Visuals</a>
    </p>
  </div>
</TopWrapper>

<style>
  @import "../../styles/global.css";

  p {
    font-size: var(--font-size-dekstop);
    height: min-content;
    margin-top: 0;

    @media (--bp-mobile) {
      font-size: var(--font-size-mobile);
    }

    @media (--bp-tablet) {
      font-size: var(--font-size-tablet);
    }

    @media (--bp-desktop-wide) {
      font-size: var(--font-size-desktop-wide);
    }
  }

  #InfoWrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 16px 1fr 1fr 1fr 16px;
    grid-template-rows: min-content min-content;
    column-gap: 16px;
    margin-top: calc(var(--padding-desktop));
    max-height: calc(60vh - var(--padding-desktop));

    @media (--bp-mobile) {
      align-self: center;
      max-height: calc(90svh - 3rem - var(--padding-mobile));
      margin: 0 8px;
      margin-top: 0;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr min-content;
    }

    @media (--bp-tablet) {
      grid-template-columns: auto 1fr 1fr min-content auto;
      grid-auto-rows: min-content auto;
      grid-column-start: 2;
      margin-top: calc(var(--padding-tablet));
    }

    @media (--bp-desktop-wide) {
      grid-column-start: 2;
      margin-top: calc(var(--padding-desktop-wide));
      align-items: start;
    }
  }

  #AboutText {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 111ch;
    max-height: min-content;
    justify-self: left;
    align-self: start;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 3rem;

    @media (--bp-mobile) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @media (--bp-tablet) {
      padding-right: 1rem;
    }
  }

  a {
    color: black;
    text-decoration: underline;
  }

  #portfolio-link {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;

    @media (--bp-mobile) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
</style>
