@import "photoswipe/style.css";

@font-face {
  font-family: PowerGrotesk-UltraLight;
  font-display: swap;
  src: url(/fonts/PowerGrotesk/power-grotesk-ultra-light/webfonts/power-grotesk-ultra-light.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-ultra-light/webfonts/power-grotesk-ultra-light.woff) format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: PowerGrotesk-Light;
  font-display: swap;
  src: url(/fonts/PowerGrotesk/power-grotesk-light/webfonts/power-grotesk-light.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-light/webfonts/power-grotesk-light.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: PowerGrotesk-Light;
  font-display: swap;
  src: url(/fonts/PowerGrotesk/power-grotesk-light-italic/webfonts/power-grotesk-light-italic.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-light-italic/webfonts/power-grotesk-light-italic.woff) format('woff');
  font-weight: 200;
  font-style: italic;
}


@font-face {
  font-family: PowerGrotesk-Regular;	
  font-display: swap;
	src: url(/fonts/PowerGrotesk/power-grotesk-regular/webfonts/power-grotesk-regular.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-regular/webfonts/power-grotesk-regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: PowerGrotesk-Medium;	
  font-display: swap;
	src: url(/fonts/PowerGrotesk/power-grotesk-medium/webfonts/power-grotesk-medium.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-medium/webfonts/power-grotesk-medium.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
  font-family: PowerGrotesk-Bold;	
  font-display: swap;
	src: url(/fonts/PowerGrotesk/power-grotesk-bold/webfonts/power-grotesk-bold.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-bold/webfonts/power-grotesk-bold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}




/* Variables */
:root {

  /* Colors */
  --bg-color: #fbf9f4;
  --bg-color-trans: #fbf9f4b1;
  --bg-light: #FBF9F4;
  --bg-color-accent: #f7efe8;


  /* Top Padding */
  --padding-desktop: 3rem;
  --padding-mobile: 5.5rem;
  --padding-tablet: 1rem;
  --padding-desktop-wide: 3rem;

  /* Margins */
  --margin-left-dekstop: 1vw;
  --margin-right-desktop: 1vw;

  --margin-left-mobile: 3px;
  --margin-right-mobile: 3px;
  
  --margin-left-tablet: 0px;
  --margin-right-tablet: 20px;

  --margin-left-desktop-wide: calc(13vw - 120px);
  --margin-right-desktop-wide: 13vw;

  /* Font Sizes */
  --font-size-dekstop: 13px;
  --font-size-mobile: 13px;
  --font-size-mobile-small: 11px;
  --font-size-tablet: 13px;
  --font-size-desktop-wide: 13px;

  --font-size-dekstop-h1: 17px;
  --font-size-mobile-h1: 17px;
  --font-size-mobile-small-h1: 13px;
  --font-size-tablet-h1: 17px;
  --font-size-desktop-wide-h1: 17px;
  

    letter-spacing: 0.6px;

  /* border size */
  --border-size: 0.5px;

  /* Columns: Nav Main */
  --grid-template-columns-desktop:      200px 1fr;
  --grid-template-columns-mobile:       1fr;
  --grid-template-columns-tablet:       150px 1fr;
  --grid-template-columns-desktop-wide: 200px 1fr;
}
  /* Media Queries Breakpoints*/
  @custom-media --bp-mobile-small (width <= 375px);
  @custom-media --bp-mobile (width <= 650px);
  @custom-media --bp-tablet (650px <= width <= 1200px);
  @custom-media --bp-desktop (1200px <= width <= 1800px);
  @custom-media --bp-desktop-wide (width >= 1800px);


/* View Transitions */



.pswp--custom-bg {
  --pswp-bg: var(--bg-color) !important;
}

.pswp--custom-icon-colors {
  --pswp-icon-color: #000000 !important;

}

.pswp__counter {
  text-shadow: none !important;
  margin-inline-start: 30px !important;
}

.pswp__top-bar {
  top: 20px !important;
}

.pswp__icn {
  height: 20px !important;
}

.pswp__button--close {
  margin-right: 30px !important;
}

.pswp__button--arrow--prev {
  left: 30px !important;
}

.pswp__button--arrow--next {
  right: 30px !important;
}

.pswp__custom-caption {
  font-size: 11px;
  color: #000000;
  background: #fbf9f422;
  padding: 3px 7px;
  max-width: 44ch;
  bottom: 4%;
  position: absolute;
  left: 15px;
}

.pswp__custom-caption a {
  font-size: 9px;
  padding: 3px 5px;
  text-decoration: none;
  color: var(--bg-color);
  background-color: #000000;
}

.pswp__img {
/*   background: var(--bg-color); */
}

.DetailsInfoWrapper th {
  vertical-align: top;
  text-align: left;
  padding-bottom: 10px;
}
.DetailsInfoWrapper td {
  padding-left: 20px;
  padding-bottom: 10px;
}
