@import "photoswipe/style.css";

@font-face {
  font-family: PowerGrotesk-UltraLight;
  font-display: swap;
  src: url(/fonts/PowerGrotesk/power-grotesk-ultra-light/webfonts/power-grotesk-ultra-light.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-ultra-light/webfonts/power-grotesk-ultra-light.woff) format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: PowerGrotesk-Light;
  font-display: swap;
  src: url(/fonts/PowerGrotesk/power-grotesk-light/webfonts/power-grotesk-light.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-light/webfonts/power-grotesk-light.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: PowerGrotesk-Light;
  font-display: swap;
  src: url(/fonts/PowerGrotesk/power-grotesk-light-italic/webfonts/power-grotesk-light-italic.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-light-italic/webfonts/power-grotesk-light-italic.woff) format('woff');
  font-weight: 200;
  font-style: italic;
}


@font-face {
  font-family: PowerGrotesk-Regular;	
  font-display: swap;
	src: url(/fonts/PowerGrotesk/power-grotesk-regular/webfonts/power-grotesk-regular.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-regular/webfonts/power-grotesk-regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: PowerGrotesk-Medium;	
  font-display: swap;
	src: url(/fonts/PowerGrotesk/power-grotesk-medium/webfonts/power-grotesk-medium.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-medium/webfonts/power-grotesk-medium.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
  font-family: PowerGrotesk-Bold;	
  font-display: swap;
	src: url(/fonts/PowerGrotesk/power-grotesk-bold/webfonts/power-grotesk-bold.woff2) format('woff2'),
       url(/fonts/PowerGrotesk/power-grotesk-bold/webfonts/power-grotesk-bold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}




/* Variables */
:root {

  /* Colors */
  --bg-color: #fbf9f4;
  --bg-color-trans: #fbf9f4b1;
  --bg-light: #FBF9F4;
  --bg-color-accent: #e7dace;


  /* Top Padding */
  --padding-top-mobile-small: 80px;
  --padding-top-mobile: 90px;
  --padding-top-tablet: 48px;
  --padding-top-desktop: 56px;
  --padding-top-desktop-wide: 76px;

  /* Bottom Padding */
  --padding-bot-mobile-small: 80px;
  --padding-bot-mobile: 90px;
  --padding-bot-tablet: 96px;
  --padding-bot-desktop: calc(9 * 56px);
  --padding-bot-desktop-wide: calc(9 * 88px);

  /* Margins */
  --margin-left-mobile: 2px;
  --margin-right-mobile: 2px;
  
  --margin-left-tablet: 0px;
  --margin-right-tablet: 20px;

  --margin-left-dekstop: auto;
  --margin-right-desktop: auto;

  --margin-left-desktop-wide: auto;
  --margin-right-desktop-wide: auto;

  /* Font Sizes */

  --font-size-mobile: 12px;
  --font-size-mobile-small: 10px;
  --font-size-tablet: 12px;
  --font-size-dekstop: 14px;
  --font-size-desktop-wide: 14px;


  --font-size-mobile-h1: 14px;
  --font-size-mobile-small-h1: 14px;
  --font-size-tablet-h1: 16px;
  --font-size-dekstop-h1: 18px;
  --font-size-desktop-wide-h1: 18px;

  letter-spacing: 0.6px;

  /* border size */
  --border-size: 0.5px;

  /* Columns: Nav Main */
  --nav-main-layout-mobile-small: 1fr;
  --nav-main-layout-mobile:       1fr;
  --nav-main-layout-tablet:       144px 1fr;
  --nav-main-layout-desktop:      160px 952px;
  --nav-main-layout-desktop-wide: 160px 1496px;

  
    /* Grid Layout*/
    /* grid template columns: 17 Columns = 100vw - margin right - NavBar - margin left - column gap - scrollbar-wdith*(2) / 17*/

  --grid-layout-columns-mobile-small: repeat(7, calc((100vw - 2px - 2px - var(--scrollbar-width)) / 7));
  --grid-layout-columns-mobile: repeat(7, calc((100vw - 2px - 2px - var(--scrollbar-width)) / 7));
  --grid-layout-columns-tablet: repeat(11, calc((100vw - 124px - 20px - calc(var(--scrollbar-width) * 2)) / 11));
  --grid-layout-columns-desktop: repeat(17, 56px);
  --grid-layout-columns-desktop-wide: repeat(17, 88px);


}



  /* Media Queries Breakpoints*/
  @custom-media --bp-mobile-small (width <= 375px);
  @custom-media --bp-mobile (width <= 767px);
  @custom-media --bp-tablet (768px <= width <= 1119px);
  @custom-media --bp-desktop (1120px <= width <= 1699px);
  @custom-media --bp-desktop-wide (width >= 1700px);


/* Photoswipe Styles */

.pswp--custom-bg {
  --pswp-bg: var(--bg-color) !important;
}

.pswp--custom-icon-colors {
  --pswp-icon-color: #000000 !important;

}


.pswp__counter {
  text-shadow: none !important;
  margin-inline-start: 30px !important;
}

.pswp__top-bar {
  top: 20px !important;
}

.pswp__icn {
  height: 20px !important;
}

.pswp__button--close {
  margin-right: 30px !important;
  
}

.pswp__button--arrow {
  position: absolute;
  top: 0;
  width: 75px;
  height: 100px;
  top: 50%;
  margin-top: -28px !important;
}

.pswp__button--arrow--prev {
  left: 30px !important;

}

.pswp__button--arrow--next {
  right: 30px !important;
}

.pswp__custom-caption {
  font-size: 11px;
  color: #000000;
  background: #fbf9f422;
  padding: 3px 7px;
  max-width: 44ch;
  height: fit-content;
  bottom: 4%;
  position: absolute;
  left: 15px;
}

.pswp__custom-caption a {
  font-size: 9px;
  padding: 5px 8px;
  text-decoration: none;
  color: var(--bg-color);
  background-color: #000000;
}

.pswp__img {
/*   background: var(--bg-color); */
}

.DetailsInfoWrapper th {
  vertical-align: top;
  text-align: left;
  padding-bottom: 10px;
}
.DetailsInfoWrapper td {
  padding-left: 20px;
  padding-bottom: 10px;
}



/* Photoswipe ProjectSlide Wrapper */
.pswp__project-title-slide{
  display: grid;
  align-items: center;
  height: 100%;
}
.pswp__project-title-slide p {
  text-align: center;
  font-family: PowerGrotesk-Medium;
  font-size: 2rem;
  letter-spacing: 0.7px;
}



/* Photoswipe ProjectSlide Wrapper */
.pswp__project-info-slide-wrapper {
  height: 100%;
  display: grid;
  place-items: center;
	
}


.pswp__project-info-slide {
	display: grid;
	font-size: var(--font-size-dekstop);
	width: min(70%, 66ch);
	grid-auto-rows: auto;
	align-items: center;
	overflow-x: hidden;


	@media (--bp-mobile) {
		font-size: var(--font-size-mobile);
	}

	@media (--bp-tablet) {
		font-size: var(--font-size-tablet);
	}

	@media (--bp-desktop-wide) {
		font-size: var(--font-size-desktop-wide);
	}
}


.pswp__project-info, .pswp__project-details {
	width: 80%;           /* Ensure it takes full width */
  justify-self: center; /* Centers items horizontally */
  

  span {
    font-family: PowerGrotesk-Medium;
  }

  @media (--bp-mobile) {
    width: 85%;
    }


}

.pswp__project-info {

  padding-top: 0.5rem;
}

.pswp__project-details {
  padding-top: 2rem;
  padding-bottom:0.5rem;
}


