---
import Main from "../layouts/Main.astro"
import ArchiveImages from "../components/ArchiveIsotope.astro";
---

<Main title="Rhizome Landing Page" description="Scientfic Illustration and Design by Joshua Binswanger" >
	
	<ArchiveImages />
	
</Main>

