---
import Main from "../layouts/Main.astro"
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
---

<Main title="Rhizome Landing Page" description="Scientfic Illustration and Design by Joshua Binswanger" >
	
	<Gallery />
	<Footer />
</Main>

