---
import Main from "../layouts/Main.astro";
import Information from "../components/info/Information.astro";
---

<Main
  title="About Joshua Binswanger — Rhizome Visuals"
  description="Joshua Binswanger is a designer and scientific illustrator working at the intersection of knowledge transfer and visual storytelling. Clients include ETH, University of Zurich, Hereon @DESY and SLF."
>
  <Information />
</Main>

<style>
  @import "../styles/global.css";

  p {
    font-size: var(--font-size-dekstop);
    padding: 0.7rem 0.2rem;
    text-align: center;
    margin: 0px;

    @media (--bp-mobile) {
      font-size: var(--font-size-mobile);
      padding: 0.7rem 0.2rem;
    }

    @media (--bp-tablet) {
      font-size: var(--font-size-tablet);
      padding: 0.7rem 0.2rem;
    }

    @media (--bp-desktop-wide) {
      font-size: var(--font-size-desktop-wide);
    }
  }

  li {
    list-style: none;
    margin: 0.5rem 0 0.5rem 0;
  }

  a {
    text-decoration: none;
    color: inherit;
    pointer-events: auto;
  }
</style>
