---
import Main from "../layouts/Main.astro";
import ProjectList from "../components/ProjectList.astro";
---

<Main
  title="Rhizome Visuals"
  description="Scientfic Illustration and Design by Joshua Binswanger"
>
  <ProjectList />
</Main>
