---
import Main from "../../layouts/Main.astro"
import Archive from "../../components/ArchiveGallery_BoxFilters.astro";
import Footer from "../../components/Footer.astro";
---

<Main title="Joshua Binswanger Art" description="Art of Joshua Binswanger" >
	
	<Archive />
	
</Main>

