---
import Main from "../../layouts/Main.astro";
import Archive from "../../components/archive/ArchiveGallery_BoxFilters.astro";
---

<Main title="Joshua Binswanger Art" description="Art of Joshua Binswanger">
  <Archive />
</Main>
