---
import Main from "../../layouts/Main.astro"
import Archive from "../../components/ArchiveGallery_BoxFilters.astro";
import Footer from "../../components/Footer.astro";
---

<Main title="Rhizome Visuals" description="Scientfic Illustration and Design by Joshua Binswanger" >
	
	<Archive />
	
</Main>

