---
import Main from "../../layouts/Main.astro";
import PersonalInformation from "../../components/info/InformationPersonal.astro";
---

<Main
  title="About — Joshua Binswanger (Personal Work)"
  description="About Joshua Binswanger and his personal, artistic and experimental design work."
>
  <PersonalInformation />
</Main>

<style>
  @import "../../styles/global.css";

  p {
    font-size: var(--font-size-dekstop);
    padding: 0.7rem 0.2rem;
    text-align: center;
    margin: 0px;

    @media (--bp-mobile) {
      font-size: var(--font-size-mobile);
      padding: 0.7rem 0.2rem;
    }

    @media (--bp-tablet) {
      font-size: var(--font-size-tablet);
      padding: 0.7rem 0.2rem;
    }

    @media (--bp-desktop-wide) {
      font-size: var(--font-size-desktop-wide);
    }
  }

  li {
    list-style: none;
    margin: 0.5rem 0 0.5rem 0;
  }

  a {
    text-decoration: none;
    color: inherit;
    pointer-events: auto;
  }
</style>
