---
import ImageElement from "../../../components/ImageElement.astro"
import GalleryElement from "../../../components/GalleryElement.astro"

const totalImages = 5;

---
<GalleryElement totalImages={totalImages} title="Game Design 101" subtitle="Motion Graphics">

<!-- Images -->

<div slot="Image1"> 

</div>


</GalleryElement>
