---
import { ViewTransitions } from 'astro:transitions';
---

<div id="backdrop">

</div>

<style>

#backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100lvw;
    height: 100vh;
    min-height: 100svh;
    max-height: 100lvh;
    background-color: #FBF9F4;
    z-index: -1000;
}
</style>
