---
interface Props {
 strokewidth?: string;
 strokecolor?: string;
}

const { strokewidth = "1px", strokecolor = "black" } = Astro.props;
---


<div class:list="svg-container">
    <svg xmlns="http://www.w3.org/2000/svg"    viewBox="0 0 202 17" preserveAspectRatio="xMidYMid">
        <path 
        vector-effect="non-scaling-stroke"
        d="M2 15 V2 H200 V15"/>
    </svg>
</div>


<style define:vars={{strokewidth, strokecolor}}>

/* SVG container */
.svg-container {
       width: 100%;
       height: auto;
    
    }

/* SVG styling */
svg {
    width: auto;
    height:  auto;
    display: block; /* Removes inline spacing */
}

/* Keep stroke width constant */
path {
    fill: none;
    stroke: var(--strokecolor);
    stroke-width: var(--strokewidth);
}
</style>