---
interface Props {
 strokewidth?: string;
 strokecolor?: string;
}

const { strokewidth = "1px", strokecolor = "black" } = Astro.props;
---


<div class="svg-container">
    <svg xmlns="http://www.w3.org/2000/svg"    viewBox="0 0 50 200" preserveAspectRatio="xMinYMid">
        <path 
        vector-effect="non-scaling-stroke"
        d="M2 2 H48 V198 H2"/>
    </svg>
</div>


<style define:vars={{strokewidth, strokecolor}}>

/* SVG container */
.svg-container {
    display: grid;
    grid-template-columns: 1fr; /* One column spanning the full width */
    grid-template-rows: 1fr;    /* One row spanning the full height */
    justify-items: left;         /* Aligns the SVG to the right */
    align-items: center;        /* Centers the SVG vertically */              /* Ensures the container fills its parent's height */
    width: 100%;  
    overflow: visible;
    }

/* SVG styling */
svg {
    overflow: visible;
    width: auto;
    height: 100%;
    display: block; /* Removes inline spacing */
}

/* Keep stroke width constant */
path {
    fill: none;
    stroke: var(--strokecolor);
    stroke-width: var(--strokewidth);
}
</style>