---
---


<div class="svg-container">
    <svg xmlns="http://www.w3.org/2000/svg"    viewBox="0 0 202 17" preserveAspectRatio="xMidYMid">
        <path 
        vector-effect="non-scaling-stroke"
        d="M2 15 V2 H200 V15"/>
    </svg>
</div>


<style>

/* SVG container */
.svg-container {
       width: auto;
       height: auto;
    
    }

/* SVG styling */
svg {
    width: auto;
    height:  auto;
    display: block; /* Removes inline spacing */
}

/* Keep stroke width constant */
path {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}
</style>