---
interface Props {
 strokewidth: string;
}

const { strokewidth = "1px" } = Astro.props;
---


<div class="svg-container">
    <svg xmlns="http://www.w3.org/2000/svg"    viewBox="0 0 52 202" preserveAspectRatio="xMidYMid" shape-rendering="crispEdges">
        <path 
        vector-effect="non-scaling-stroke"
        d="M2 2 H50 V200 H2"/>
    </svg>
</div>


<style define:vars={{strokewidth}}>

/* SVG container */
.svg-container {
       width: auto;
       height: auto;
    
    }

/* SVG styling */
svg {
    width: auto;
    height:  auto;
    display: block; /* Removes inline spacing */
}

/* Keep stroke width constant */
path {
    fill: none;
    stroke: #000;
    stroke-width: var(--strokewidth);
}
</style>