---
import TopWrapper from "../layouts/TopWrapper.astro";
import "../styles/global.css";
import BracketOpenH from "./BracketOpenH.astro";
import BracketCloseH from "./BracketCloseH.astro";
import BracketMiddleH from "./BracketMiddleH.astro";

---

<TopWrapper>
    
    <div id="email">
        <BracketOpenH /><p>info@rhizome.ch</p><BracketCloseH />
    </div>

</TopWrapper>


<style>
@import "../styles/global.css";

#email {
    display: grid;
    font-family: PowerGrotesk-Light;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 21px;
    margin-top: calc(var(--padding-desktop));
    text-align: center;
    grid-template-columns: 1ch min-content 1ch;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    p {
        margin: 0;
        width: min-content;
    
    }
    
    @media (--bp-tablet) {
        margin-top: calc(var(--padding-tablet) + 22vh);
        
    }

    @media (--bp-desktop-wide) {
    height: 30vh;
    }   
}

@media (--bp-mobile) {
    #email{
        margin-top: 0;
        margin: auto 0;
    }
}

</style>