---
import ImageElement from "./ImageElement.astro";
import ThumbnailElement from "./ThumbnailElement.astro";
import TopWrapper from "../layouts/TopWrapper.astro";
import GridLayout from "../layouts/GridLayout.astro";
import SquareBracketH from "./SquareBracket_H.astro";
import "../styles/global.css";


---

<TopWrapper>
    
    <div id="email">
        <p>info[at]rhizome.ch</p>
    </div>
</TopWrapper>


<style>
@import "../styles/global.css";

    #email {
        padding: 33%;
        padding-top: var(--padding-desktop);
        text-align: center;
        top: 15vh;

    }
</style>