---
import TopWrapper from "../layouts/TopWrapper.astro";
import "../styles/global.css";
import BracketOpenH from "./BracketOpenH.astro";
import BracketCloseH from "./BracketCloseH.astro";
import BracketMiddleH from "./BracketMiddleH.astro";
---

<TopWrapper>
  <div id="email">
    <BracketOpenH /><p>
      <a href="mailto:info@rhizome.ch">info@rhizome.ch</a>
    </p><BracketCloseH />
  </div>
</TopWrapper>

<style>
  @import "../styles/global.css";

  #email {
    display: grid;
    height: min-content;
    font-family: PowerGrotesk-Light;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 21px;
    color: black;
    margin-top: calc(var(--padding-desktop));
    text-align: center;
    grid-template-columns: 1ch min-content 1ch;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a {
      text-decoration: none;
      color: black;
    }

    p {
      margin: 0;
      width: min-content;
    }

    @media (--bp-tablet) {
      margin-top: calc(var(--padding-tablet) + 22vh);
    }

    @media (--bp-desktop-wide) {
      margin-top: var(--padding-desktop-wide);
    }
  }

  @media (--bp-mobile) {
    #email {
      margin-top: 0;
      margin: auto 0;
    }
  }
</style>
