---
import ImageElement from "./ImageElement.astro";
import NavigationBar from "./NavigationBar.astro"
import NavigationBarMobile from "./NavigationBarMobile.astro"
import TopWrapper from "../layouts/TopWrapper.astro";
import "../styles/global.css";

---

<TopWrapper>
	

	<div id="GalleryElementWrapper">


		<div class:list={["Fade", "GalleryElement"]}>
				<ImageElement 
				to="/projects/alice-in-woodland"
				title="Alice in Woodland"
				tools="3D Interactive"
				altText="This is a Test"
				imagePath="/src/assets/projects/aliceinwoodland/gallery_image/AliceGalelryImage.jpg"
				onhover_imagePath="/src/assets/projects/aliceinwoodland/gallery_image/AliceGalelryImage.jpg"
				viewtransition_name="1"
				/>
		</div>

		<div class:list={["Fade", "GalleryElement"]} id="2">
			<ImageElement 
		
			margin_top="2em"
			to="/projects/borkenkaefer"
			title="Borkenkäfer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/projects/borkenkaefer/gallery_image/image 2.png"
			onhover_imagePath="/src/assets/projects/borkenkaefer/gallery_image/image 2.png"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			
			margin_top="0vw"
			to="/projects/alice-in-woodland"
			title="Alice in Woodland"
			tools="3D Interactive"
			altText="This is a Test"
			imagePath="/src/assets/projects/aliceinwoodland/gallery_image/AliceGalelryImage.jpg"
			onhover_imagePath="/src/assets/projects/aliceinwoodland/gallery_image/AliceGalelryImage.jpg"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement" ]}>
			<ImageElement 
			
			margin_top="2em"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/projects/borkenkaefer/gallery_image/image 2.png"
			onhover_imagePath="/src/assets/projects/borkenkaefer/gallery_image/image 2.png"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			
			margin_top="1em"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/projects/borkenkaefer/gallery_image/image 2.png"
			onhover_imagePath="/src/assets/projects/borkenkaefer/gallery_image/image 2.png"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			
			margin_top="-2em"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/projects/borkenkaefer/gallery_image/image 2.png"
			onhover_imagePath="/src/assets/projects/borkenkaefer/gallery_image/image 2.png"
			/>
		</div>
	</div>	

<!-- 	<div id="Spacer"></div> -->
	
</TopWrapper>




<style>

@import "../styles/global.css";


#GalleryElementWrapper {
	display: grid; 			
	grid-template-areas: 	"a ."
							"a b"	
							"c b"		
							"c d"		
							"e d"
							"e f"		
							"g f"		
							"g h";		
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2em; 
	grid-row-gap: 5em;
	pointer-events: none;
	margin-top: var(--padding-desktop); 
	
}


/* #GalleryElementWrapper > *:nth-child(even) {
	margin-top: 100px; /* Offset the right column by 150px */

#GalleryElementWrapper > *:nth-child(1) {
	grid-area: a;
}

#GalleryElementWrapper > *:nth-child(2) {
	grid-area: b;
}
#GalleryElementWrapper > *:nth-child(3) {
	grid-area: c;
}

#GalleryElementWrapper > *:nth-child(4) {
	grid-area: d;
}

#GalleryElementWrapper > *:nth-child(5) {
	grid-area: e;
}

#GalleryElementWrapper > *:nth-child(6) {
	grid-area: f;
	margin-top: -50px;
}
</style>
	