---
import ImageElement from "./ImageElement.astro";
import NavigationBar from "./NavigationBar.astro"
import NavigationBarMobile from "./NavigationBarMobile.astro"
import TopWrapper from "../layouts/TopWrapper.astro";
import GridLayout from "../layouts/GridLayout.astro";
import "../styles/global.css";

---

<TopWrapper>
	

	<GridLayout>


		<div class:list={["Fade", "GalleryElement"]} style="grid-column-start: 1; grid-column-end: 5; grid-row-start: 1;">
				<ImageElement 
				to="/projects/alice-in-woodland"
				title="Alice in Woodland"
				tools="3D Interactive"
				altText="This is a Test"
				imagePath="/src/assets/galleryimages/GalleryImages_1.webp"
				/>
		</div>

		 <div class:list={["Fade", "GalleryElement"]} style="grid-column-start: 8; grid-column-end: 13; grid-row-start: 5;">
			<ImageElement 
		
			to="/projects/borkenkaefer"
			title="Borkenkäfer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_2.webp"
			/>
		</div>
		<!--
		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			
			to="/projects/alice-in-woodland"
			title="Alice in Woodland"
			tools="3D Interactive"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_3.webp"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement" ]}>
			<ImageElement 
			
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_4.webp"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_5.webp"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_6.webp"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_7.webp"
			/>
		</div>
		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_8.webp"
			/>
		</div>
		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_9.webp"
			/>
		</div> -->


	</GridLayout>
	
</TopWrapper>
	