---
import ImageElement from "./ImageElement.astro";
import ThumbnailElement from "./ThumbnailElement.astro";
import NavigationBar from "./NavigationBar.astro"
import NavigationBarMobile from "./NavigationBarMobile.astro"
import TopWrapper from "../layouts/TopWrapper.astro";
import GridLayout from "../layouts/GridLayout.astro";
import SquareBracketH from "./SquareBracket_H.astro";
import "../styles/global.css";

---

<TopWrapper>
	

	<GridLayout>


		<div class:list={["Fade", "GalleryElement"]}>
				<ImageElement 
				width="100%"
				to="/projects/alice-in-woodland"
				loading="eager"
				title="Alice in Woodland"
				tools="3D Interactive"
				altText="This is a Test"
				imagePath="/src/assets/galleryimages/GalleryImages_1.webp"
				/>
				<div id="FlexWrapper" style="display: grid; grid-template-columns: auto 1fr ">
					<SquareBracketH>
						<h1>Alice in Woodland</h1>
						<h2>Poster</h2>
						<h3>Client</h3>
					</SquareBracketH>
					<SquareBracketH>
						<div id="GalleryThumbnails">
							<ThumbnailElement 
							width="100%"
							aspectratio="1/1"
							to="/projects/alice-in-woodland"
							title="Alice in Woodland"
							tools="3D Interactive"
							altText="This is a Test"
							imagePath="/src/assets/galleryimages/GalleryImages_9.webp"
							/>
							<ThumbnailElement  
							width="100%"
							aspectratio="1/1"
							to="/projects/alice-in-woodland"
							title="Alice in Woodland"
							tools="3D Interactive"
							altText="This is a Test"
							imagePath="/src/assets/galleryimages/GalleryImages_8.webp"
							/>
							<ThumbnailElement 
							width="100%"
							aspectratio="1/1"
							to="/projects/alice-in-woodland"
							title="Alice in Woodland"
							tools="3D Interactive"
							altText="This is a Test"
							imagePath="/src/assets/galleryimages/GalleryImages_7.webp"
							/>
							<ThumbnailElement 
							width="100%"
							aspectratio="1/1"
							to="/projects/alice-in-woodland"
							title="Alice in Woodland"
							tools="3D Interactive"
							altText="This is a Test"
							imagePath="/src/assets/galleryimages/GalleryImages_1.webp"
							/>
						</div>
					</SquareBracketH>
				</div>

		

		</div>

		 <div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkäfer"
			loading="eager"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_2.webp"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement"]} >
			<ImageElement 
			width="100%"
			to="/projects/alice-in-woodland"
			loading="eager"
			title="Alice in Woodland"
			tools="3D Interactive"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_3.webp"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement" ]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_4.webp"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_5.webp"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_6.webp"
			/>
		</div>

		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_7.webp"
			/>
		</div>
		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_8.webp"
			/>
		</div>
		<div class:list={["Fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_9.webp"
			/>
		</div>


	</GridLayout>
	
</TopWrapper>

<style>
@import "../styles/global.css";

#GalleryThumbnails {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	gap: 5%;
	filter: sepia(0.5) grayscale(0.5);
	opacity: 0.75;
}

h1 {
	font-family: PowerGrotesk-Medium;
	font-weight: 600;
	font-style: normal;
	font-size: 1rem;
	letter-spacing: 0.5px;
	margin: 0px;

}

h2 {
	font-family: PowerGrotesk-Light;
	font-weight: 200;
	font-style: italic;
	font-size: 0.8rem;
	letter-spacing: 0.5px;
	margin-top: 4px;

}

h3 {
	font-family: PowerGrotesk-Light;
	font-weight: 200;
	font-style: normal;
	font-size: 0.8rem;
	text-align: end;
	letter-spacing: 0.5px;
	margin: 0px;
}

.GalleryElement:nth-of-type(1) {
	grid-column-start: 1; 
	grid-column-end: span 7; 
	grid-row-start: 1;

	@media (--bp-mobile) {
	grid-column-start: 1; 
	grid-column-end: 4; 
	grid-row-start: 1;
	}

	
}

.GalleryElement:nth-of-type(2) {
	grid-column-start: 11; 
	grid-column-end: span 8; 
	grid-row-start: 7;

	@media (--bp-mobile) {
	grid-column-start: 1; 
	grid-column-end: span 4; 
	grid-row-start: 2;
	}
}

.GalleryElement:nth-of-type(3) {
	grid-column-start: 2;
	grid-column-end: span 7; 
	grid-row-start: 14;
	
}
.GalleryElement:nth-of-type(4) {
	grid-column-start: 11;
	grid-column-end: span 6; 
	grid-row-start: 22;

}
.GalleryElement:nth-of-type(5) {
	grid-column-start: 1;
		grid-column-end: span 8; 
		grid-row-start: 28;

}
.GalleryElement:nth-of-type(6) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 35;

}
.GalleryElement:nth-of-type(7) {
	grid-column-start: 1; 
	grid-column-end: span 5; 
	grid-row-start: 41;

}
.GalleryElement:nth-of-type(8) {
	grid-column-start: 8; 
	grid-column-end: span 9; 
	grid-row-start: 45;

	
}
.GalleryElement:nth-of-type(9) {
	grid-column-start: 2; 
	grid-column-end: span 5; 
	grid-row-start: 55;

}
/* .GalleryElement:nth-of-type(10) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 53;

}
.GalleryElement:nth-of-type(11) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 60;
}
.GalleryElement:nth-of-type(12) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 66;
}
.GalleryElement:nth-of-type(13) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 71;

}
.GalleryElement:nth-of-type(14) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 77;

}
.GalleryElement:nth-of-type(15) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 81;
}
.GalleryElement:nth-of-type(16) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 86;
}
.GalleryElement:nth-of-type(17) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 92;
} */

</style>