---
import ImageElement from "./ImageElement.astro";
import ThumbnailElement from "./ThumbnailElement.astro";
import TopWrapper from "../layouts/TopWrapper.astro";
import GridLayout from "../layouts/GridLayout.astro";
import SquareBracketH from "./SquareBracket_H.astro";
import "../styles/global.css";

import GameDesign101 from "./GalleryElement_GameDesign101.astro"
---

<TopWrapper>
	

	<GridLayout>


		<div class:list={["fade", "GalleryElement"]}>
			<GameDesign101 />
		</div>

		 <div class:list={["fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkäfer"
			loading="eager"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_2.webp"
			/>
		</div>




		<div class:list={["fade", "GalleryElement"]} >
			<ImageElement 
			width="100%"
			to="/projects/alice-in-woodland"
			loading="eager"
			title="Alice in Woodland"
			tools="3D Interactive"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_3.webp"
			/>
		</div>

		<div class:list={["fade", "GalleryElement" ]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_4.webp"
			/>
		</div>

		<div class:list={["fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_5.webp"
			/>
		</div>

		<div class:list={["fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_6.webp"
			/>
		</div>

		<div class:list={["fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_7.webp"
			/>
		</div>
		<div class:list={["fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_8.webp"
			/>
		</div>
		<div class:list={["fade", "GalleryElement"]}>
			<ImageElement 
			width="100%"
			to="/projects/borkenkaefer"
			title="Borkenkaefer"
			tools="2D Poster"
			altText="This is a Test"
			imagePath="/src/assets/galleryimages/GalleryImages_9.webp"
			/>
		</div>


	</GridLayout>
	
</TopWrapper>




<script>
/* document.querySelector('.GalleryElement:nth-child #GalleryThumbnails #Thumbnail:nth-child(3)').addEventListener('mouseover', function() {
    document.querySelector('#ImageWrapper #ImageContainer:nth-child(3)').style.border = '2px solid red';  // Example: Adding a red border on hover
});

document.querySelector('#GalleryThumbnails #Thumbnail:nth-child(3)').addEventListener('mouseout', function() {
    document.querySelector('#ImageWrapper #ImageContainer:nth-child(3)').style.border = '';  // Resetting the style on mouseout
});
 */


 // IntersectionObserver options
 let options = {
         rootMargin: "800px 0px -200px 0px",
     };
 
     // Define the IntersectionObserver
     const observer = new IntersectionObserver((entries) => {  
         entries.forEach((entry) => {
             console.log(entry);
             if (entry.isIntersecting) {
                 entry.target.classList.add("show");
             } else {
                 entry.target.classList.remove("show");
             }
         });
     }, options);
 
     // Select elements to observe and start observing them
     const fadeElements = document.querySelectorAll(".fade");
     fadeElements.forEach((el) => observer.observe(el));

</script>




<style>
@import "../styles/global.css";
/*Fade */

.fade{
  opacity: 0.22;
  filter: contrast(0.66) sepia(.8) blur(5px) grayscale(0.8);
  transition: all 1s ease;
  transform: translateY(10%);
}

.show {
  opacity: 1;
  filter:  contrast(1) brightness(1) sepia(0) blur(0px) grayscale(0);
  transform: translateY(0);
}


.GalleryElement {
	display: grid;
}



.GalleryElement:nth-of-type(1) {
	grid-column-start: 1; 
	grid-column-end: span 7; 
	grid-row-start: 1;
	
}

	


.GalleryElement:nth-of-type(2) {
	grid-column-start: 11; 
	grid-column-end: span 8; 
	grid-row-start: 7;

}

.GalleryElement:nth-of-type(3) {
	grid-column-start: 2;
	grid-column-end: span 7; 
	grid-row-start: 14;
	
}
.GalleryElement:nth-of-type(4) {
	grid-column-start: 11;
	grid-column-end: span 6; 
	grid-row-start: 22;

}
.GalleryElement:nth-of-type(5) {
	grid-column-start: 1;
		grid-column-end: span 8; 
		grid-row-start: 28;

}
.GalleryElement:nth-of-type(6) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 35;

}
.GalleryElement:nth-of-type(7) {
	grid-column-start: 1; 
	grid-column-end: span 5; 
	grid-row-start: 41;

}
.GalleryElement:nth-of-type(8) {
	grid-column-start: 8; 
	grid-column-end: span 9; 
	grid-row-start: 45;

	
}
.GalleryElement:nth-of-type(9) {
	grid-column-start: 2; 
	grid-column-end: span 5; 
	grid-row-start: 55;

}
.GalleryElement:nth-of-type(10) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 53;

}
.GalleryElement:nth-of-type(11) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 60;
}
.GalleryElement:nth-of-type(12) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 66;
}
.GalleryElement:nth-of-type(13) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 71;

}
.GalleryElement:nth-of-type(14) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 77;

}
.GalleryElement:nth-of-type(15) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 81;
}
.GalleryElement:nth-of-type(16) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 86;
}
.GalleryElement:nth-of-type(17) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 92;
}



@media (--bp-mobile) {

	.GalleryElement:nth-of-type(odd) {
		grid-column-start: 1; 
		grid-column-end: span 6; 
	}

	.GalleryElement:nth-of-type(even) {
		grid-column-start: 2; 
		grid-column-end: span 6; 
	}

	.GalleryElement {
		margin-bottom: 5rem;
	}

}

@media (--bp-tablet) {

.GalleryElement:nth-of-type(odd) {
	grid-column-start: 1; 
	grid-column-end: span 5; 
}

.GalleryElement:nth-of-type(even) {
	grid-column-start: 2; 
	grid-column-end: span 5; 
}

.GalleryElement {
	margin-bottom: 5rem;
}

}



</style>
