---
import TopWrapper from "../layouts/TopWrapper.astro";
import GridLayout from "../layouts/GridLayout.astro";
import GalleryElement from "./GalleryElementV2.astro";
import { getCollection } from 'astro:content';

const galleryProjects = await getCollection('gallery'); // Fetch all gallery projects

const {projectName} = Astro.props;

---

<TopWrapper>
  <GridLayout>
    {galleryProjects.map((project) => (
      <div class="GalleryElementWrapper">
        <GalleryElement
          project={project.data.projectName}
        />
      </div>
    ))}
  </GridLayout>
</TopWrapper>




<script>

document.addEventListener('astro:page-load', ev => {


// Select all ImageElement components
const imageElements = document.querySelectorAll('.GalleryElementWrapper');

// Loop through the ImageElement NodeList and start adding the fade class from the 3rd element onwards
imageElements.forEach((image, index) => {
	if (index >= 2) { // index starts from 0, so 2 is the 3rd element
		image.classList.add('fade');
	}
});

 // IntersectionObserver options
 let options = {
         rootMargin: "800px 0px -200px 0px",
     };
 
     // Define the IntersectionObserver
     const observer = new IntersectionObserver((entries) => {  
         entries.forEach((entry) => {
             console.log(entry);
             if (entry.isIntersecting) {
                 entry.target.classList.add("show");
             } else {
                 entry.target.classList.remove("show");
             }
         });
     }, options);
 
     // Select elements to observe and start observing them
     const fadeElements = document.querySelectorAll(".fade");
     fadeElements.forEach((el) => observer.observe(el));

  });
</script>




<style>
@import "../styles/global.css";
/*Fade */

.fade{
  opacity: 0.22;
  filter: contrast(0.66) sepia(.8) blur(5px) grayscale(0.8);
  transition: all 1s ease;
  transform: translateY(10%);
}

.show {
  opacity: 1;
  filter:  contrast(1) brightness(1) sepia(0) blur(0px) grayscale(0);
  transform: translateY(0);
}


.GalleryElementWrapper {
	display: grid;
	height: fit-content;
}



.GalleryElementWrapper:nth-of-type(1) {
	grid-column-start: 1; 
	grid-column-end: span 8; 
	grid-row-start: 1;
	
}

	
.GalleryElementWrapper:nth-of-type(2) {
	grid-column-start: 11; 
	grid-column-end: span 6; 
	grid-row-start: 7;

}

.GalleryElementWrapper:nth-of-type(3) {
	grid-column-start: 2;
	grid-column-end: span 7; 
	grid-row-start: 11;
	
}
.GalleryElementWrapper:nth-of-type(4) {
	grid-column-start: 12;
	grid-column-end: span 7; 
	grid-row-start: 17;

}
.GalleryElementWrapper:nth-of-type(5) {
	grid-column-start: 1;
		grid-column-end: span 7; 
		grid-row-start: 21;

}
.GalleryElementWrapper:nth-of-type(6) {
	grid-column-start: 10; 
	grid-column-end: span 7; 
	grid-row-start: 27;

}
.GalleryElementWrapper:nth-of-type(7) {
	grid-column-start: 1; 
	grid-column-end: span 5; 
	grid-row-start: 41;

}
.GalleryElementWrapper:nth-of-type(8) {
	grid-column-start: 8; 
	grid-column-end: span 9; 
	grid-row-start: 45;

	
}
.GalleryElementWrapper:nth-of-type(9) {
	grid-column-start: 2; 
	grid-column-end: span 5; 
	grid-row-start: 55;

}
.GalleryElementWrapper:nth-of-type(10) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 53;

}
.GalleryElementWrapper:nth-of-type(11) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 60;
}
.GalleryElementWrapper:nth-of-type(12) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 66;
}
.GalleryElementWrapper:nth-of-type(13) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 71;

}
.GalleryElementWrapper:nth-of-type(14) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 77;

}
.GalleryElementWrapper:nth-of-type(15) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 81;
}
.GalleryElementWrapper:nth-of-type(16) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 86;
}
.GalleryElementWrapper:nth-of-type(17) {
	grid-column-start: 12; 
	grid-column-end: span 6; 
	grid-row-start: 92;
}



@media (--bp-mobile) {

	.GalleryElementWrapper:nth-of-type(odd) {
		grid-column-start: 1; 
		grid-column-end: span 6; 
	}

	.GalleryElementWrapper:nth-of-type(even) {
		grid-column-start: 2; 
		grid-column-end: span 6; 
	}

	.GalleryElementWrapper {
		margin-bottom: 5rem;
	}

}

@media (--bp-tablet) {

.GalleryElementWrapper:nth-of-type(1) {
	grid-column-start: 1; 
	grid-column-end: span 5; 
}

.GalleryElementWrapper:nth-of-type(2) {
	grid-column-start: 3; 
	grid-column-end: span 5; 
}

.GalleryElementWrapper:nth-of-type(3) {
	grid-column-start: 2; 
	grid-column-end: span 5; 
}

.GalleryElementWrapper:nth-of-type(4) {
	grid-column-start: 1; 
	grid-column-end: span 5; 
}

.GalleryElementWrapper:nth-of-type(5) {
	grid-column-start: 2; 
	grid-column-end: span 5; 
}

.GalleryElementWrapper:nth-of-type(6) {
	grid-column-start: 3; 
	grid-column-end: span 5; 
}

.GalleryElementWrapper:nth-of-type(7) {
	grid-column-start: 1; 
	grid-column-end: span 5; 
}

.GalleryElementWrapper:nth-of-type(8) {
	grid-column-start: 2; 
	grid-column-end: span 5; 
}

.GalleryElementWrapper:nth-of-type(9) {
	grid-column-start: 3; 
	grid-column-end: span 5; 
}
.GalleryElementWrapper:nth-of-type(10) {
	grid-column-start: 1; 
	grid-column-end: span 5; 
}
.GalleryElementWrapper:nth-of-type(11) {
	grid-column-start: 2; 
	grid-column-end: span 5; 
}
.GalleryElementWrapper:nth-of-type(12) {
	grid-column-start: 3; 
	grid-column-end: span 5; 
}
.GalleryElementWrapper:nth-of-type(13) {
	grid-column-start: 1; 
	grid-column-end: span 5; 
}
.GalleryElementWrapper:nth-of-type(14) {
	grid-column-start: 2; 
	grid-column-end: span 5; 
}
.GalleryElementWrapper:nth-of-type(15) {
	grid-column-start: 3; 
	grid-column-end: span 5; 
}
.GalleryElementWrapper:nth-of-type(16) {
	grid-column-start: 1; 
	grid-column-end: span 5; 
}
.GalleryElementWrapper:nth-of-type(17) {
	grid-column-start: 2; 
	grid-column-end: span 5; 
}

.GalleryElementWrapper {
	margin-bottom: 5rem;
}

}



</style>
