---
import ImageElement from "./ImageElement.astro";
import ThumbnailElement from "./ThumbnailElement.astro";
import TopWrapper from "../layouts/TopWrapper.astro";
import GridLayout from "../layouts/GridLayout.astro";
import SquareBracketH from "./SquareBracket_H.astro";
import "../styles/global.css";
import Footer from "./Footer.astro";


---

<TopWrapper>
    <GridLayout>
        <div id="ProfilePic">

        </div>

        <div id="AboutText">

        [Name] is a versatile scientific illustrator and designer, blending nature’s beauty with cutting-edge tech to create stunning, accurate visuals. Inspired by the natural world, they craft everything from digital art to 3D models, translating complex science into engaging visuals. With strong communication skills and a passion for nature, [Name] collaborates with experts to deliver work that inspires curiosity and showcases the wonder of the world around us.
        </div>
    </GridLayout>    
</TopWrapper>


<style>
@import "../styles/global.css";

#AboutText {
    grid-column-start: 3;
    grid-column-end: span 11;

    @media (--bp-mobile) {
        grid-column-start: 1;
    }

    @media (--bp-tablet) {
        grid-column-start: 2;
        grid-column-end: 7;
    }

    @media (--bp-desktop-wide) {
        grid-column-start: 5;
        grid-column-end: span 7;
    }
}

</style>