---
import ImageElement from "./ImageElement.astro";
import ThumbnailElement from "./ThumbnailElement.astro";
import TopWrapper from "../layouts/TopWrapper.astro";
import GridLayout from "../layouts/GridLayout.astro";
import BracketOpenH from "./BracketOpenH.astro";
import BracketCloseH from "./BracketCloseH.astro";
import BracketMiddleH from "./BracketMiddleH.astro";
import { getCollection } from "astro:content";

import SquareBracketH from "./SquareBracket_H.astro";
import "../styles/global.css";
import Footer from "./Footer.astro";

// get all links
const links = await getCollection('links');

// Sort galleryImages by sortOrder
links.sort((a, b) => a.data.sortOrder - b.data.sortOrder);


---

<TopWrapper>
    <div id="InfoWrapper">
            


        <div id="AboutText">
            <p id="rhizome">[ Rhizome (/'raɪˌzoʊm/) refers to an underground plant stem from which roots and shoots grow. ]</p>

            <br/ >
            
            <p>My name is Joshua Binswanger, I'm a designer and scientific illustrator.  </p>         
            
<!--             <div id="ProfilePic">
            </div>  -->
           
            <p>Working primarily at the intersection of knowledge transfer and visual storytelling, I strive to communicate complex information through engaging imagery. 
                I thrive in an environment where I can learn, question and discuss new topics and combine them with my visual aesthetic and technical expertise.</p>
            
            <p>A fascination with the intricacies of the natural world has guided my professional and personal work towards the fields of natural science and character design.</p>
            
            <p>I also enjoy exploring new skills in art, design and technology as much as sharing my know-how through courses, workshops and online platforms.</p>
            
            <p>For collaboration or other inquiries, don't hesitate to contact me: <a href="mailto:info@rhizome.ch" id="Email" >info@rhizome.ch</a></p>



        </div>

        <p id="SelectedClients">
            <strong>Selected Clients:</strong><br><br>
            ETH<br>
            Hereon @DESY<br>
            University of Zurich<br>
            SLF<br>
            HNE Eberswalde<br>
            LWF Bayern<br>
        </p>

        <p id="Services">
            <strong>Services:</strong><br><br>
            Scientific Illustration<br>
            3D Design & Visualisation<br>
            Drawing & Illustration<br>
            Infographics<br>
            Workshops<br>
        </p>

        
        

<!--         <div id="Contact">
            <p><strong>Contact:</strong></p>
            <p id="Email">  
                
            </p>
        </div>
 -->
<!--         <div id="links-top-wrapper">

            {links.map((entry) => {
    
                return(
                    <div class:list={["link"]}> 
                        <BracketOpenH />
                            <div> <a href={entry.data.link} target="_blank">{entry.data.text}</a></div> 
                        <BracketCloseH />
                    </div>
                );  
    
            })}
    
        </div>
 -->
    </div>



</TopWrapper>


<style>
@import "../styles/global.css";
p {
    font-size: var(--font-size-dekstop);
    letter-spacing: 2px;
    height: min-content;
    margin-top: 0;

    @media (--bp-mobile) {
        font-size: var(--font-size-mobile);
    }

    @media (--bp-tablet) {
        font-size: var(--font-size-tablet);
    }

    @media (--bp-desktop-wide) {
        font-size: var(--font-size-desktop-wide);
    }
}

#InfoWrapper{
    display: grid;
    align-items: center;
    grid-template-columns: 16px 1fr 1fr 1fr 16px;
    grid-template-rows: 2fr 2fr 1fr;
    column-gap: 16px;
    margin-top: calc(var(--padding-desktop));
    max-height: calc(60vh - var(--padding-desktop));

    max-height: calc(60vh - var(--padding-desktop));


    @media (--bp-mobile) {
        align-self: center;
        max-height: calc(90svh - 3rem -  var(--padding-mobile));
        margin: 0 2px;
        margin-top: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }


    @media (--bp-tablet) {
        grid-template-columns: auto 1fr 1fr min-content auto;
        grid-auto-rows: min-content auto;
        grid-column-start: 2;
        margin-top: calc(var(--padding-tablet));
    }

    @media (--bp-desktop-wide) {
        grid-column-start: 2;
        margin-top: calc(var(--padding-desktop-wide));
        align-items: start;
    }
}

#AboutText {
    grid-column-start: 2;
    grid-column-end: 4;
    max-width: 111ch;
    max-height: min-content;
    justify-self: left;
    align-self: start;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 3rem;

    
    @media (--bp-mobile) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    @media (--bp-tablet) {
       padding-right: 1rem;
    }
}

#ProfilePic {
    position: relative;
    height: 0px;
    max-height: 200px;
    aspect-ratio: 3 / 4;
    right: 0;
    top: 0;
    background-color: var(--bg-color-accent);

  @media (--bp-mobile) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3
    }

}

#SelectedClients {
    grid-column-start: 2;
    max-width: 23ch;
    font-size: calc(var(--font-size-dekstop) - 2px);
    align-self: start;
    letter-spacing: 2px;
    line-height: 1rem;
    height: min-content;
    padding-bottom: 2rem;

    @media (--bp-mobile) {
        font-size: calc(var(--font-size-mobile) - 2px);
        grid-column-start: 1;
        grid-column-end: 2;

    }

    @media (--bp-tablet) {
        font-size: calc(var(--font-size-tablet) - 2px);
    }

    @media (--bp-desktop-wide) {
        font-size: calc(var(--font-size-desktop-wide) - 2px);
    }
}

#Services {
    grid-column-start: 3;
    max-width: 33ch;
    align-self: start;
    font-size: calc(var(--font-size-dekstop) - 2px);
    letter-spacing: 2px;
    line-height: 1rem;
    height: min-content;

    @media (--bp-mobile) {
        font-size: calc(var(--font-size-mobile) - 2px);
        grid-column-start: 2;
        grid-column-end: 3;
    }

    @media (--bp-tablet) {
        font-size: calc(var(--font-size-tablet) - 2px);
        padding-right: 1rem;
        padding-right: 1rem;
    }

    @media (--bp-desktop-wide) {
        font-size: calc(var(--font-size-desktop-wide) - 2px);
    }
}

#Contact {
    grid-column-start: 2;
    grid-row-start: 3;
    max-width: 33ch;
    height: min-content;
    align-self: end;


    @media (--bp-mobile) {
        grid-column-start: 1;
        align-self: start;
        }

    p {
        font-size: calc(var(--font-size-dekstop) - 2px);
        letter-spacing: 2px;

        @media (--bp-mobile) {
            font-size: calc(var(--font-size-mobile) - 2px);
        }

        @media (--bp-tablet) {
            font-size: calc(var(--font-size-tablet) - 2px);
        }

        @media (--bp-desktop-wide) {
            font-size: calc(var(--font-size-desktop-wide) - 2px);
        }

    }   
    
}

#Email {
        color: black;
}

#rhizome {
    font-size: 11px;
    font-family: PowerGrotesk-Light;
    font-style: italic;
    opacity: 0.3;
}

#links-top-wrapper {

    display: grid;
    z-index: 2;
    grid-template-columns: 1fr;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    --archive-width: 100%;
    height: 100%;
    overflow: visible;
    padding: 0;
    background-color: var(--bg-color);
    align-content: space-between;
    justify-content: center;

  
  @media (--bp-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    bottom: calc(2px + 3rem);
    padding: 0 3px 2px 3px;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 1rem;
    row-gap: 1rem;
    align-content: space-evenly;
    overflow-y: hidden;
    overflow-x: hidden;
    
  }

	@media (--bp-tablet) {


	}

	@media (--bp-desktop-wide) {
       


	 
	}
}

.link {

    display: grid;
    font-size: calc(var(--font-size-tablet) - 2px);
    letter-spacing: 2px;
    height: min-content;
    grid-template-columns: 1ch 17ch 1ch;
    text-align: center;
    align-items: center;   
    justify-content: center;

    @media (--bp-mobile) {    
        font-size: calc(var(--font-size-mobile) - 2px);
    }

    a{
        text-decoration: none;
        color: black;
    }


        @media (--bp-tablet) {
            font-size: calc(var(--font-size-tablet) - 2px);
        }

        @media (--bp-desktop-wide) {
            font-size: calc(var(--font-size-desktop-wide) - 2px);
        }

}



</style>