---
import ImageElement from "./ImageElement.astro";
import ThumbnailElement from "./ThumbnailElement.astro";
import TopWrapper from "../layouts/TopWrapper.astro";
import GridLayout from "../layouts/GridLayout.astro";
import SquareBracketH from "./SquareBracket_H.astro";
import "../styles/global.css";
import Footer from "./Footer.astro";


---

<TopWrapper>
    <GridLayout>
<!--         <div id="ProfilePic">

        </div> -->

        <div id="AboutText">

            Joshua Bisnwanger is a scientific illustrator and designer based in Zurich. He enjoys blending nature’s beauty with technology to create visuals that are both accurate and appealing. Inspired by the natural world, Joshua works on projects ranging from digital art to 3D models, aiming to make complex science more accessible and engaging. With strong communication skills, a diverse technical skill set, and a curious mind, he collaborates with experts to produce work that sparks curiosity and highlights the wonders of our world.        </div>
    </GridLayout>    
</TopWrapper>


<style>
@import "../styles/global.css";

#AboutText {
   /*  padding-top: calc(var(--padding-desktop)); */
    grid-column-start: 1;
    grid-column-end: span 6;
    letter-spacing: 2px;
    

    @media (--bp-mobile) {
        grid-column-start: 1;
        padding: 1rem 2rem;
    }

    @media (--bp-tablet) {
        grid-column-start: 2;
        grid-column-end: 7;
    }

    @media (--bp-desktop-wide) {
        grid-column-start: 6;
        grid-column-end: span 7;
        height: 30vh;
        align-content: center;
    }
}

</style>