---
import { Picture } from "astro:assets"
import RhizomLogo from "../assets/Logo_BGColor.png"
---

<div id="Logo-Wrapper">

    <a id="Logo" href="/" class:list={["animation"]} data-href="/" data-animation="out"><Picture src={RhizomLogo}  id="Picture" alt="Rhizom Logo" loading="eager"></a>

</div>


<style>
@import "../styles/global.css";

#Logo-Wrapper {
    z-index: 1003;
    width: 100%;
    aspect-ratio: auto;
    


@media (--bp-mobile){

  padding-top: 0.7rem;
  display: block;
  width: 27%;

  }
}

#Logo {
  display: block;
  height: 100%;
}


#Picture{
  width: 100%;
  height: auto;
}

</style>