---
import { Picture } from "astro:assets"
import RhizomLogo from "../assets/Logo_V6_Dark.png"
---

<div id="Logo" transition:persist>

    <a href="/"><Picture src={RhizomLogo} id="Picture" alt="Rhizom Logo" loading="eager"></a>

</div>


<style>
@import "../styles/global.css";

#Logo{
    z-index: 1003;
    width: calc(100% - 2px);
    aspect-ratio: auto;


@media (--bp-mobile){


  }
}


#Picture{
  width: 100%;
  height: auto;
}

</style>