---
import { Picture } from "astro:assets"
import RhizomLogo from "../assets/Logo_V6_Dark.png"
---

<div id="Logo" transition:persist>

    <a href="/"><Picture src={RhizomLogo} id="Picture" alt="Rhizom Logo"></a>

</div>


<style>
@import "../styles/global.css";

#Logo{
    z-index: 1003;
    width: calc(100% - 2px);
    top: 0px;
    left: 0px;
    padding: 1px;

@media (--bp-mobile){
    position: fixed;
    left: 0px;
    top: 9px;
    width: 27%;
  }
}


#Picture{
  width: 100%;
  height: auto;
}

</style>