---
import { Image } from "astro:assets"
import RhizomLogo from "../assets/Rhizome_Logo_208h.jpg"
---

    <a id="Logo" href="/" class:list={["animation"]} data-href="/" data-animation="out"><Image src={RhizomLogo}  id="Image" alt="Rhizom Logo" loading="eager"></a>


<style>
@import "../styles/global.css";


#Logo {
  display: block;
  height: 100%;

  @media (--bp-mobile){

    padding-top: 32px;
    display: block;
    height: 36px;
    width: 144px;

  }
}


#Image {
  height: min-content;
  width: 100%;
}

</style>