---

---

<div class="bracket">
    <div class="top-border"></div>
    <div class="bottom-border"></div>
    <slot />
</div>


<style>
@import "../styles/global.css";

:root {

    --border-size: 1px;
}


.bracket {
  width: auto;
  height: max-content;
  margin: 0px;
  margin-top:0px;
  position: relative;
  padding: 0;
}




.top-border,
.bottom-border {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  left: 0;
}
.top-border {
}
.bottom-border {
  bottom: -1px;
  align-items: end;
}
.top-border:after,
.top-border:before,
.bottom-border:after,
.bottom-border:before {
  content: '';
  width: 100%;
  height: 1.5vh;

  @media (--bp-tablet) {
    height: 1vh;
  }
}
.top-border:after,
.top-border:before {
  border-top: var(--border-size) solid black;
}
.bottom-border:after,
.bottom-border:before {
  border-bottom: var(--border-size) solid black;
}
.top-border:before,
.bottom-border:before {
  border-left: var(--border-size) solid black;
}
.top-border:after,
.bottom-border:after {
  border-right: var(--border-size) solid black;
}

</style>