---
import Main from "../../layouts/Main.astro"

import Project from "../../layouts/Project.astro"

import ImageElement from "../../components/ImageElement.astro"

import DoubleImageWrapper from "../../layouts/DoubleImageWrapper.astro"

import TextRun from "../../layouts/TextRun.astro"
export const projectTitle = 'Alice in Woodland';

const description = "This is a Project about Wood"

---
<Main title={projectTitle} description={description} >
	
	<Project>
    <ImageElement 
      grid_three="0fr 7fr 0fr"
      to="/projects/alice-in-woodland"
      tools=""
      altText="This is a Test"
      imagePath="/src/assets/projects/aliceinwoodland/gallery_image/AliceGalelryImage.jpg"
      onhover_imagePath="/src/assets/projects/aliceinwoodland/gallery_image/AliceGalelryImage.jpg"
      />

      <DoubleImageWrapper margin="yes">
      <ImageElement 
      grid_three="0fr 7fr 0fr"
      to="/projects/alice-in-woodland"
      altText="This is a Test"
      imagePath="/src/assets/projects/aliceinwoodland/gallery_image/AliceGalelryImage.jpg"
      onhover_imagePath="/src/assets/projects/aliceinwoodland/gallery_image/AliceGalelryImage.jpg"
      />
    


    
      <ImageElement 
      grid_three="0fr 7fr 0fr"
      to="/projects/alice-in-woodland"
      tools=""
      altText="This is a Test"
      imagePath="/src/assets/projects/aliceinwoodland/gallery_image/AliceGalelryImage.jpg"
      onhover_imagePath="/src/assets/projects/aliceinwoodland/gallery_image/AliceGalelryImage.jpg"
      />
    </DoubleImageWrapper>

    <TextRun>
    
      <p style="text-indent: 3ch;">
        main image

        dual image
      
        carousel
      
        video 
      </p>
      
      <p> Does it work?</p>

    </TextRun>

  </Project>

</Main>