---
import Main from '../../layouts/Main.astro';

export const projectTitle = 'Alice in Woodland';

const description = "This is a Project about Wood"

---
<Main title={projectTitle} description={description}>
  <p>My page content, wrapped in a layout!</p>
</Main> 