---
import Main from "../layouts/Main.astro";
import Gallery from "../components/Gallery.astro";
---

<Main
  title="Rhizome Visuals"
  description="Scientfic Illustration and Design by Joshua Binswanger"
>
  <Gallery portfolio={false} />
</Main>
