---
import "../../styles/global.css";

interface Props {
  margin: string;
}

// Get component props from Astro.props
const { margin } = Astro.props;

let wrapperClass;

if (margin === "yes") {
  wrapperClass = "margin";
} else {
  wrapperClass = "nomargin";
}
---

<div id="DoubleImageWrapper" class:list={wrapperClass}>
  <slot />
</div>

<style>
  @import "../styles/global.css";

  #DoubleImageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;

    @media (--bp-mobile) {
      grid-template-columns: 1fr;
    }

    @media (--bp-desktop-wide) {
      grid-column-gap: 2rem;
    }
  }

  @media (--bp-mobile) {
    .margin {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
</style>
