---

---

<div id="GridContainer">

    <slot />
   
</div>


<style>
@import "../styles/global.css";

#GridContainer {
    display: grid; 			
	height: 100lvh;
	grid-template-columns: repeat(17, 1fr);
	grid-auto-rows: 5vw;
	pointer-events: none;
	padding-top: var(--padding-desktop); 
	padding-bottom: 22lvh;

	@media (--bp-mobile) {
		grid-template-columns: repeat(7, 1fr);
		grid-auto-rows: auto;
		padding-top: var(--padding-mobile); 
	}

	@media (--bp-tablet) {
		grid-template-columns: repeat(7, 1fr);
		grid-auto-rows: auto;
		padding-top: var(--padding-tablet); 
	}

	@media (--bp-desktop-wide) {
		padding-top: var(--padding-desktop-wide); 
	}
}
</style>