---

---

<div id="GridContainer">

    <slot />
   
</div>


<style>
@import "../styles/global.css";

#GridContainer {
    display: grid; 			
	height: max-content;
	grid-template-columns: repeat(17, 1fr);
	grid-auto-rows: 6vw	;
	padding-top: var(--padding-desktop); 
	padding-bottom: 44lvh; 
	margin-bottom: 0; 

	@media (--bp-mobile) {
		grid-template-columns: repeat(7, 1fr);
		grid-auto-rows: auto;
		padding-top: var(--padding-mobile); 
		padding-bottom: 2lvh; 
	}

	@media (--bp-tablet) {
		grid-template-columns: repeat(7, 1fr);
		grid-auto-rows: auto;
		padding-top: var(--padding-tablet); 
		padding-bottom: 0lvh; 
	}

	@media (--bp-desktop-wide) {
		padding-top: var(--padding-desktop-wide);
		grid-auto-rows: 5vw; 
		padding-bottom: 55lvh; 
	}
}
</style>