---

---

<div id="GridContainer">

    <slot />
   
</div>


<style>
@import "../styles/global.css";

#GridContainer {
    display: grid; 			
	grid-template-columns: repeat(17, 1fr);
	grid-auto-rows: 5vw;
	pointer-events: none;
	margin-top: var(--padding-desktop); 
	padding-bottom: 33vw;

	@media (--bp-mobile) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-auto-rows: auto;
	}
}
</style>