---
import Footer from "../components/Footer.astro"
import { ClientRouter  } from 'astro:transitions';
import { fade } from 'astro:transitions';
import Backdrop from "../components/Background.astro";
import { AstroFont } from "astro-font";

import "../styles/global.css";

const { title, description } = Astro.props;

/* const anim = {
  old: {
    name: 'fadeIn',
    duration: '1s',
    easing: 'ease-in',
    fillMode: 'forwards',
  },
  new: {
    name: 'fadeOut',
    duration: '1s',
    easing: 'ease-out',
    fillMode: 'backwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
}; */

---
<html lang="en" style="height: 100%; 		-webkit-font-smoothing: auto;
-moz-osx-font-smoothing: auto;" transition:animate={fade({ duration: '0.6s' })}>
  <head>
    <AstroFont
    config={[
      {
        name: "PowerGrotesk",
        src: [
          {
            style: 'normal',
            weight: '200',
            path: '/fonts/PowerGrotesk/power-grotesk-light/webfonts/power-grotesk-light.woff2'
          },
          {
            style: 'italic',
            weight: '200',
            path: '/fonts/PowerGrotesk/power-grotesk-light-italic/webfonts/power-grotesk-light-italic.woff2'
          },
          {
            style: 'normal',
            weight: '500',
            path: '/fonts/PowerGrotesk/power-grotesk-medium/webfonts/power-grotesk-medium.woff2'
          },

        ],
        preload: true,
        display: "swap",
        selector: "body",
        fallback: "sans-serif",
      },
      {
        name: "PowerGrotesk",
        src: [
            {
              style: 'normal',
              weight: '100',
              path: '/fonts/PowerGrotesk/power-grotesk-ultra-light/webfonts/power-grotesk-ultra-light.woff2'
            },
            {
            style: 'normal',
            weight: '600',
            path: '/fonts/PowerGrotesk/power-grotesk-bold/webfonts/power-grotesk-bold.woff2'
          },
          {
            style: 'normal',
            weight: '400',
            path: '/fonts/PowerGrotesk/power-grotesk-regular/webfonts/power-grotesk-regular.woff2'
          },
      ],
        preload: false,
        display: "swap",
        selector: "body",
        fallback: "sans-serif",
      },
    
    ]}
  />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
    <ClientRouter  />
 
    <title>{title}</title>
  </head>
  <body>
    
    {/* We want the content of each page to go here */}
    <slot />

   
  </body>
  <Backdrop transition:animate="none" transition:persist />
</html>

<script>

  function _calculateScrollbarWidth() {
    document.documentElement.style.setProperty('--scrollbar-width', (window.innerWidth - document.documentElement.clientWidth) + "px");
  }
  // recalculate on resize
  window.addEventListener('resize', _calculateScrollbarWidth, false);
  // recalculate on dom load
  document.addEventListener('DOMContentLoaded', _calculateScrollbarWidth, false); 
  // recalculate on load (assets loaded as well)
  window.addEventListener('load', _calculateScrollbarWidth);
  document.addEventListener('astro:page-load', _calculateScrollbarWidth)
</script>


<style>
@import "../styles/global.css";


body {
  min-height: 100lvh; 
  margin: 0; 
  display: grid; 
  grid-template-rows: 1fr auto; 
  font-family: PowerGrotesk-Light;
  /* overflow-x: hidden; */

  @media (--bp-mobile){
    grid-template-rows: 0px 1fr auto; 
  }


}


</style>

<!-- <style>

@keyframes fadeIn {
  from {
    opacity: 0;
    
  }

  to {
    opacity: 1;

  }
}

@keyframes fadeOut {
  from {
    opacity: 1;



  to {
    opacity: 0;

  }
  }
}

  
</style> -->