---
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import { fade } from "astro:transitions";
import Backdrop from "../components/Background.astro";
import { AstroFont } from "astro-font";

import "../styles/global.css";

const { title, description } = Astro.props;

const isProd = import.meta.env.PROD;
---

<html
  lang="en"
  style="height: 100%; margin: 0; padding: 0		-webkit-font-smoothing: auto;
-moz-osx-font-smoothing: auto;"
  transition:animate={fade({ duration: "0.5s" })}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="keywords" content="scientific illustration, 3D visualisation, data visualisation, knowledge visualisation, information design, sidefx houdini, blender, science illustration, character design" />
    <meta name="author" content="Joshua Binswanger" />
    <meta name="generator" content={Astro.generator} />
    
    <title>{title}</title>
    <link rel="canonical" href="https://rhizome.ch" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    
    <!-- OG Tags -->
    <meta property="og:title" content="Rhizome Visuals - Scientific Illustration" />
    <meta property="og:description" content="Scientific Illustration and 3D Design by Joshua Binswanger" />
    <meta property="og:image" content="https://rhizome.ch/og_images/Rhizome_OpenGraphImage_Main_ScientficIllustration.jpg" />
    <meta property="og:url" content="https://rhizome.ch" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Rhizome Visuals - Scientific Illustration" />

     <!-- Client Router -->
    <ClientRouter fallback="swap" />

    <!-- Umami Analytics Script -->
    {
      isProd && (
        <script
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id="b091eee1-ced0-4ae9-bc1d-033243c323cc"
        />
      )
    }
  </head>
  <body>
    {/* We want the content of each page to go here */}
    <slot />
  </body><Backdrop transition:animate="none" transition:persist />
</html>

<script>
  function _calculateScrollbarWidth() {
    document.documentElement.style.setProperty(
      "--scrollbar-width",
      window.innerWidth - document.documentElement.clientWidth + "px",
    );
  }
  // recalculate on resize
  window.addEventListener("resize", _calculateScrollbarWidth, false);
  // recalculate on dom load
  document.addEventListener(
    "DOMContentLoaded",
    _calculateScrollbarWidth,
    false,
  );
  // recalculate on load (assets loaded as well)
  window.addEventListener("load", _calculateScrollbarWidth);
  document.addEventListener("astro:page-load", _calculateScrollbarWidth);
</script>

<style>
  @import "../styles/global.css";

  body {
    min-height: 100svh;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: PowerGrotesk-Light;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100vw;

    @media (--bp-mobile) {
      grid-template-rows: 0px 1fr auto;
    }
  }
</style>
