---
import Footer from "../components/Footer.astro"

import NavigationBar from "../components/Gallery.astro"

import "../styles/global.css";

const { title, description } = Astro.props;
---
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
 
    <title>{title}</title>
  </head>
  <body style="min-height: 100%; display: grid; grid-template-rows: 1fr auto;">

          {/* We want the content of each page to go here */}
          <slot />
  
    <div id="FooterWrapper" style="grid-row-start: 2; grid-row-end: 3;">
      <Footer />  
    </div>

  </body>
</html>

<style>


  
</style>