---
import NavigationBarMobile from "../components/NavigationBarMobile.astro"
import NavigationBar from "../components/NavigationBar.astro"

// Get asset with PUBLIC ID
const { personal = false } = Astro.props;

interface Props {
	personal?: boolean; // Make personal prop optional as it might not always be passed
}

---

<div id="NavMobile">
	 <NavigationBarMobile personal={personal === true ? true : undefined}/>
</div>


<div id="TopWrapper">
	 <div>
	 {/* Conditionally pass the personal prop to NavigationBar */}
	<NavigationBar personal={personal === true ? true : undefined} />
	 </div>

 <slot />

</div>






<style>
@import "../styles/global.css";

#TopWrapper{

    display: grid; 
	grid-template-columns: var(--nav-main-layout-desktop);
	padding-top: var(--padding-top-desktop);
	padding-bottom: var(--padding-bot-desktop);
	margin-left: var(--margin-left-dekstop);
	margin-right: var(--margin-right-desktop);
	grid-column-gap: 4px;
	grid-template-rows: auto; /* Automatically adjust row heights based on content */

	@media (--bp-mobile) {
		grid-template-columns: var(--nav-main-layout-mobile);
		padding-top: var(--padding-top-mobile);
		padding-bottom: var(--padding-bot-mobile);
		margin-left: var(--margin-left-mobile);
		margin-right: var(--margin-right-mobile);
		grid-column-gap: 0px;
		height: fit-content;
	}

	@media (--bp-tablet){
		grid-template-columns: var(--nav-main-layout-tablet);
		padding-top: var(--padding-top-tablet);
		padding-bottom: var(--padding-bot-tablet);
		margin-left: var(--margin-left-tablet);
		margin-right: var(--margin-right-tablet);
		grid-column-gap: 4px;
	}

	@media (--bp-desktop-wide) {
		grid-template-columns: var(--nav-main-layout-desktop-wide);
		padding-top: var(--padding-top-desktop-wide);
		padding-bottom: var(--padding-bot-desktop-wide);
		margin-left: var(--margin-left-desktop-wide);
		margin-right: var(--margin-right-desktop-wide);
		grid-column-gap: 4px;
	}


}

#Nav {
	@media (--bp-mobile) {
		display: none;
		position: fixed;
	}
}

#NavMobile {

	display: none;
	@media (--bp-mobile) {
		display: block;
	}
}


</style>