---
import NavigationBarMobile from "../components/NavigationBarMobile.astro"
import NavigationBar from "../components/NavigationBar.astro"
---
<div id="NavMobile">
	<NavigationBarMobile />
</div>


<div id="TopWrapper">

	<div id="Nav">
		<NavigationBar />
	</div>

    <slot />

</div>






<style>
@import "../styles/global.css";

#TopWrapper{

    display: grid; 
	grid-template-columns: var(--grid-template-columns-desktop);
	margin-left: var(--margin-left-dekstop);
	margin-right: var(--margin-right-desktop);
	grid-column-gap: 2rem;
	grid-template-rows: auto; /* Automatically adjust row heights based on content */

	@media (--bp-mobile) {
		grid-template-columns: var(--grid-template-columns-mobile);
		margin-left: var(--margin-left-mobile);
		margin-right: var(--margin-right-mobile);
		grid-column-gap: 0rem;
		height: 100svh;
	}

	@media (--bp-tablet){
		grid-template-columns: var(--grid-template-columns-tablet);
		margin-left: var(--margin-left-tablet);
		margin-right: var(--margin-right-tablet);
		grid-column-gap: 0.5rem;
	}

	@media (--bp-desktop-wide) {
		grid-template-columns: var(--grid-template-columns-desktop-wide);
		margin-left: var(--margin-left-desktop-wide);
		margin-right: var(--margin-right-desktop-wide);
	}


}

#Nav {
	@media (--bp-mobile) {
		display: none;
	}
}

#NavMobile {

	display: none;
	@media (--bp-mobile) {
		display: block;
	}
}


</style>